 <!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <title>Document</title>
</head>
<body ng-controller="userCtrl">
    <script>
        var app = angular.module('myApp',[]);
        app.controller('userCtrl',function($scope){
            $scope.save = function($this){
                if($this.myform.user.$error.minlength){
                    alert('Username is too short');
                }
                else if($this.myform.pass.$error.minlength){
                    alert('Passowrd should contain atleast 8 characters');
                }
                else if($this.myform.user.$valid && $this.myform.pass.$valid){
                    alert('Valid credentials');
                }
            }
        })
    </script>
    <form action="" name="myform" ng-submit="save(this)" novalidate>
        <input type="text" name="user" ng-model="user" placeholder="Enter username" size="30"
        ng-minlength="3" required>
        <span class="error" style="color:red" ng-show="myform.user.$error.required">*Required</span> <br> <br>
        <input type="password" name="pass" ng-model="pass" placeholder="Enter password" size="30"
        ng-minlength="8" required>
        <span class="$error" style="color:red" ng-show="myform.pass.$error.required">*Required</span> <br> <br>
        <input type="submit" value="Submit" name="submit">
    </form>
</body>
</html>