<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <title>Document</title>
</head>
<body ng-controller="userCtrl">
    <script>
        var app = angular.module('myApp',[]);
        app.controller('userCtrl',function($scope){
            $scope.showtime = false;
            $scope.showHide = function(param){
                if(param=='show'){
                    $scope.showtime = true;
                }
            }
        });
        app.filter('greet',function(){
            return function(input){
                if(input<12){
                    return 'Good Morning';
                }
                else if(input>=12 && input<15){
                    return 'Good Afternoon';
                }
                else if(input>=15 && input<19){
                    return 'Good Evening';
                }
                else if(input>=19 && input<25){
                    return 'Good Night';
                }
            }
        })
    </script>
    <h1 style="text-align: center;">Student Registration Details</h1>
    <form action="" name="myform">
        First Name : <input type="text" size="30" name="fname" ng-model="fname" 
        ng-pattern="/^[a-zA-Z]*$/" required>
        <span class="error" style="color:red" ng-show="myform.fname.$error.required">*Required</span>
        <span class="error" style="color:red" ng-show="myform.fname.$error.pattern">Name should contain only alphabets</span> <br> <br>
        Last Name : <input type="text" size="30" name="lname" ng-model="lname" 
        ng-pattern="/^[a-zA-Z]*$/" required>
        <span class="error" style="color:red" ng-show="myform.lname.$error.required">*Required</span>
        <span class="error" style="color:red" ng-show="myform.lname.$error.pattern">Name should contain only alphabets</span> <br> <br>
        Age : &nbsp;<input type="text" name="age" ng-model="age" size="36" required ng-pattern="/^(?:1[8-9]|[2-5][0-9]|50)$/">
        <span class="error" style="color:red" ng-show="myform.age.$error.required">*Required</span>
        <span class="error" style="color:red" ng-show="myform.age.$error.pattern">*Age should be between 18-50</span> <br> <br>
        Enter 24 hours time in number format :
        <input type="number" ng-min="1" ng-max="24"  name="time" ng-model="value" style="width: 55px;" required>
        <span class="error" style="color:red" ng-show="myform.time.$error.required">*Required</span>
        <span class="error" style="color:red" ng-show="myform.time.$error.min">Time should be greater than 0</span>
        <span class="error" style="color:red" ng-show="myform.time.$error.max">Time should be less than 25</span> <br> <br>
        <input type="button" value="Display" ng-click="showHide('show')"> <br> <br>
        <span ng-show="showtime">
            <h1 style="text-align: center;">Student Details</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{fname}}</td>
                        <td>{{lname}}</td>
                        <td>{{age}}</td>
                    </tr>
                </tbody>
            </table> <br> <br>
            {{value | greet}}
        </span>
    </form> <br> <br>
</body>
</html>