<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
    <title>Document</title>
</head>
<body ng-controller="userCtrl">
    <script>
    var app = angular.module('myApp',[]);
    app.controller('userCtrl',function($scope){
        $scope.users = [
            {name:'Pratyush Majumdar'},
            {name:'Sahil Makwana'},
            {name:'Riya Shinde'},
            {name:'Vipul Solanki'},
        ]
    });
    </script>
    <h1>Show name using filter</h1>
    Enter the character :
    <input type="text" ng-model="search"> <br> <br>
    <div ng-hide="users"></div>
    <table border="1">
        <tbody>
            <tr ng-repeat="x in users | filter:search" ng-show="search">
                <td>{{x.name}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>