<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
    <title>Document</title>
    <style>
        table,th,td{
            border : 1px solid black;
        }
    </style>
</head>
<body ng-controller="userCtrl">
    <script>
        var app = angular.module('myApp',[]);
        app.controller('userCtrl',function($scope){
            $scope.parseInt = parseInt;  // important line
            $scope.showval=false;
            $scope.isShowHide = function(param){
                if(param=="show"){
                    $scope.showval=true;
                }
                if($scope.perc=74 && $scope.perc<=100)
                    $scope.grade="A";
                else if($scope.perc=60 && $scope.perc<74)
                    $scope.grade="First";
                else if($scope.perc>=45 && $scope.perc<59)
                    $scope.grade="Second";
                else if($scope.perc>=35 && $scope.perc<45)
                    $scope.grade="Pass";
                else
                    $scope.grade="fail";
            }
        })
    </script>
    <h1>Student Marksheet</h1>
    <form action="" name="form1">
        <input type="text" placeholder="Enter roll number" size="30" ng-model="rno"> <br> <br>
        <input type="text" placeholder="Enter name" size="30" ng-model="sname">  <br> <br>
        <input type="text" placeholder="Enter class" size="30" ng-model="sclass">  <br> <br>
        <input type="text" placeholder="Enter first subject marks" size="30" ng-model="sub1">  <br> <br>
        <input type="text" placeholder="Enter second subject marks" size="30" ng-model="sub2">  <br> <br>
        <input type="text" placeholder="Enter third subject marks" size="30" ng-model="sub3">  <br> <br>
        <input type="button" value="Display Result" ng-click="isShowHide('show')">  <br> <br>
    </form>
    <div ng-show="showval">
    <br> <br>
    <h1>Marksheet of Student</h1>
    <form action="" name="form2">
        <table>
            <thead>
                <tr>
                    <th>Roll Number</th>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Subject1 Marks</th>
                    <th>Subject2 Marks</th>
                    <th>Subject3 Marks</th>
                    <th>Total</th>
                    <th>Percentage</th>
                    <th>Grade</th>
                </tr>
                <tbody>
                    <tr>
                        <td>{{rno}}</td>
                        <td>{{sname}}</td>
                        <td>{{sclass}}</td>
                        <td>{{sub1}}</td>
                        <td>{{sub2}}</td>
                        <td>{{sub3}}</td>
                        <td>{{parseInt(sub1) + parseInt(sub2) + parseInt(sub3)}}</td>
                        <td>{{((parseInt(sub1) + parseInt(sub2) + parseInt(sub3))*100)/300}}</td>
                        <td><input type="text" ng-model="grade"></td>
                    </tr>
                </tbody>
            </thead>
        </table>
    </form>
    </div>
</body>
</html>
